<p-panel>
    <p-header class="text-center">
        DFC View/Edit
    </p-header>
    <div class="ui-g marginT18">
        <div class="col-sm-3 well backgroundBlue">
            <div class="col-sm-12">
                <textarea pInputTextarea [(ngModel)]="property"></textarea>
            </div>
            <div class="form-group col-sm-12">
               <label>Program-MY</label>
                <input type="text" pInputText />
            </div>
            <div class="col-sm-12">
                <label>Checklist</label>
                <input type="text" pInputText />
            </div>
        </div>
        <div class="col-sm-8">
            <div class="col-sm-12">
                <div class="dropdown col-sm-2">
                <p-dropdown [options]="cities" [(ngModel)]="P0000" placeholder="P0000" optionLabel="name"></p-dropdown>
                </div>
                <div class="checkbox col-sm-1">
                    <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
                </div>

                    <div class="col-sm-3">
                        <div class="ui-inputgroup" >
                            <input class="width100percent" type="text" pInputText placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ui-inputgroup">
                            <input class="width100percent"  type="text" pInputText placeholder="">
                        </div>
                    </div>

                <div class="checkbox col-sm-2">
                    <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
                    <label>Approved</label>
                </div>
            </div>
            <div class="col-sm-12 marginT18">
                    <div class="checkbox col-sm-2">
                        <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
                        <label>Chassis</label><br>
                        <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
                        <label>Dyno</label>
                    </div>
                <div class="col-sm-1">
                    <label>Effort Estimated</label>
                    <div class="dropdown">
                        <p-dropdown [options]="cities" [(ngModel)]="P0000" placeholder="1" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="col-sm-1 paddingR11">
                    <label >Fault Class Error Target</label>
                    <div class="dropdown">
                        <p-dropdown [options]="cities" [(ngModel)]="P0000" placeholder="0" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="form-group col-sm-1">
                    <label>Control Mask</label>
                    <div class="dropdown">
                        <p-dropdown [options]="cities" [(ngModel)]="P0000" placeholder="3584" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="form-group col-sm-1 marginT18">
                    <label>Ddisp</label>
                    <div class="dropdown">
                        <p-dropdown [options]="cities" [(ngModel)]="P0000" placeholder="0" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="form-group col-sm-1 marginT18">
                    <label>Env</label>
                    <div class="dropdown">
                        <p-dropdown [options]="cities" [(ngModel)]="P0000" placeholder="xSet2" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="form-group col-sm-1 marginT18">
                    <label>Fault Type</label>
                    <div class="dropdown">
                        <p-dropdown [options]="cities" [(ngModel)]="P0000" placeholder="0" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="form-group col-sm-2 marginT18">
                    <label>DFC Owner</label>
                    <div class="dropdown">
                        <p-dropdown [options]="cities" [(ngModel)]="P0000" placeholder="Appukuttan" optionLabel="name"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 well backgroundBlue">
            <h4>Status</h4>
            <input type="text" pInputTextarea value="100" class="width30Per"><br>
            <button pButton type="button" (click)="count()" label="Millestone Expectatio"></button>
        </div>
    </div>
</p-panel>
<p-panel header="Title" >

    <p-tabView>
        <p-tabPanel header="From latest CAL">
            <div class="ui-g">
                <div class="col-sm-12">
                <div class="well">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Fault class:</label>
                            <div class="col-sm-3">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Fault class:</label>
                            <div class="col-sm-3">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="">
                            </div>
                        </div>
                    </form>
                </div>
                    <div class="well">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Fault class:</label>
                                <div class="col-sm-3">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Fault class:</label>
                                <div class="col-sm-3">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </p-tabPanel>
        <p-tabPanel header="DFC Details">
            Content 2
        </p-tabPanel>
        <p-tabPanel header="Malfunctions">
            Content 3
        </p-tabPanel>
    </p-tabView>
    <p-footer>
        Footer content here
    </p-footer>
</p-panel>